.media-picture
  .media-picture__left-box
    = link_to '#' do
      %i.fas.fa-eye
      %span 1
    = link_to '#' do
      %i.fas.fa-arrow-down
      %span 0
    = link_to '#' do
      %i.fas.fa-thumbs-up
      %span 0
    = link_to '#' do
      %i.fas.fa-star
      %span 0
    = link_to '#' do
      %i.fas.fa-comment
      %span 0
  .media-picture__right-box
    .operation_btn
      = link_to picture_path(picture.id), method: :DELETE do
        %i.fas.fa-trash
      = link_to '#' do
        %i.fas.fa-pen
    = image_tag picture.picture.url
    .status-bar
      %p.status published