= render partial: 'layouts/header-menu'
= render partial: 'layouts/menu-colums'
= render partial: 'layouts/menu-users'
.contents
  .hero
    .hero__title
      %h1 My WORKS
      %h2 Yae Onishi
    .hero__search
      = form_with url:search_pictures_path, method: :get,  class: 'search-box', local: true do |f|
        = button_tag type: 'submit', class: "search-icon" do
          %i.fas.fa-search
        = f.text_field :search, placeholder: 'キーワードを入力してください', class: 'hero-search-box'
  .index-text
    -if user_signed_in?
      .index-text__wrap
        %h2 ABOUT ME
        %p 現在Webデザインとプログラミングを学習中です。このアプリはWebアプリの作成をと画像のポートフォリオを兼ねています。
        = link_to '作品を見る', all_pictures_path
      .index-text__wrap
        %h2 SKILLS
        = image_tag 'logos/html5.svg'
        = image_tag 'logos/css3.svg'
        = image_tag 'logos/javascript.svg'
        = image_tag 'logos/jquery.svg'
        = image_tag 'logos/ruby.svg'
      .index-text__wrap
        %h2 TOOLS
        = image_tag 'logos/wordpress.svg'
    - else
      .index-text__wrap
        %h2 このサイトについて
        %p このアプリはポートフォリオとして作成したものです。実際にはご利用いただけません。
        = link_to '画像作品を見る', all_pictures_path
      .index-text__wrap
        %h2 無料のユーザー登録
        %p ユーザー登録していただくと画像のアップロードやダウンロードをお試しいただけます。
        = link_to '新規会員登録', new_user_registration_path
        = link_to '簡単ログイン', '#', id: 'simple-login'
        .hidden
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.email_field :email, autofocus: true, autocomplete: "email", id: 'email'
            = f.password_field :password, autocomplete: "current-password", id: 'password'
            = f.submit
      