= render partial: 'layouts/header-search'
= render partial: 'layouts/members'
.upload-image
  = form_with(model: @picture, local: true) do |f|
    .left-box
      %h2 ファイルをアップロード
      %p
        40MB以内、1辺の長さが3000ピクセル以上の JPG, PNG, PSD, AI, SVG 形式のファイル。 
        = link_to 'イメージ品質ガイドライン...', '#'
      %p
        300MB以内、解像度 1920x800 ピクセル以上の MPEG, MOV, AVI 形式の動画。動画は60秒を超えてはいけません。 
        = link_to 'ビデオの品質ガイドライン...', '#'
      %p 
        MP3, MP4, FLAC and WAV music up to 100 MB. 
        = link_to 'Music Quality Guidelines...', '#'
      %p 
        残りのアップロード可能枚数： 10 <br>
        = link_to '詳細情報 ...', '#'
      .upload-btn
        %label.upload-btn__label
          %p.display-btn ファイルを選択
          = f.file_field :picture, class: 'hidden-btn', id: 'attach-image'
    .right-box
      %h2 Tag media
      %p 
        タグは、アップロードしたメディアを説明するキーワードです。 正確なタグがないと、検索でメディアを見つけることができません。 したがって、各タグは画像自体と同じくらい重要です。詳しくは
        = link_to 'タグ付けのチュートリアル', '#'
        をご覧ください。
      %hr
      .attach-tags
