.members-menu
  .members-menu__left-box
    = link_to 'My media', '#' 
    = link_to 'アップロード', '#', class: 'active'
    = link_to 'お気に入り', '#'
    = link_to 'メッセージ', '#'
    =  link_to '設定', '#'
  .members-menu__right-box
    = link_to '私のプロフィール', '#'
